body {
    background-color:azure
}

h1 {
   font-family: 'Lacquer', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: cadetblue;
}

h3 {
    font-family: 'Lacquer', sans-serif
}